@charset "UTF-8";
/*  头部图片部分开始 */
header {
  height: 200px;
  overflow: hidden; }
  header div {
    height: 300px; }
    header div img {
      width: 100%;
      height: 100%; }

/*  头部图片部分结束 */
/* 导航栏部分开始 */
nav {
  box-sizing: border-box;
  height: 35px;
  color: #646464;
  line-height: 35px;
  position: relative;
  z-index: 100;
  background-color: #F9F9F9; }
  nav .w {
    position: relative; }

.nav_left {
  height: 27px;
  line-height: 30px;
  margin: 3px 0;
  padding: 0 10px;
  border: 1px solid #F9F9F9;
  position: absolute; }
  > .nav_left:hover em::after {
    content: "\e63c"; }
  .nav_left > span, .main_right_middle > .book_presell > ul > li > a > div.nav_left > em, .main_right_bottom > .bottom_b > .bottom_div > ul > li > div.nav_left > em, .main_right_bottom > .bottom_b > .bottom_div > ul > li > div.nav_left > b, .s_one_right > .bottom_b > .bottom_div > ul > li > div.nav_left > em, .s_one_right > .bottom_b > .bottom_div > ul > li > div.nav_left > b {
    margin: 0 1px; }
  .nav_left > em {
    margin-left: 5px; }
  .nav_left > em::after {
    content: "\e63d";
    font-family: "iconfont";
    margin-left: 2px;
    color: #a7a7a7;
    font-weight: 600; }

.nav_adress {
  width: 300px;
  position: absolute;
  left: 0px;
  top: 31px;
  padding: 5px 0;
  display: none;
  z-index: 5;
  background-color: #fff;
  border: 1px solid gainsboro; }
  .nav_adress > li {
    float: left;
    width: 20%;
    line-height: 30px;
    text-indent: 15px;
    text-align: left; }
    .nav_adress > li > a:hover {
      color: red; }

.nav_right {
  position: absolute;
  padding-top: 1px;
  right: 0;
  top: 0;
  line-height: 35px; }
  .nav_right .nav_right_bemember {
    float: left;
    letter-spacing: 1px;
    margin-right: 10px; }
    .nav_right .nav_right_bemember .nav_login {
      margin-right: 5px;
      color: red; }
  > .nav_right > a:hover {
    color: red; }

.nav_right_int {
  float: left;
  box-sizing: border-box;
  padding: 2px 0 0 0;
  position: relative; }
  .nav_right_int > li {
    letter-spacing: 1px;
    padding: 0 9px 0 10px;
    line-height: 30px;
    position: relative;
    float: left; }
    > .nav_right_int > li:before {
      content: "";
      position: absolute;
      left: -2px;
      top: 9px;
      width: 1px;
      height: 16px;
      border-left: 1px solid #e6e6e6;
      background-color: transparent; }
    .nav_right_int > li > a:after {
      content: "\e63d";
      font-family: "iconfont";
      margin-left: 3px;
      color: #a7a7a7;
      font-weight: 600; }
    > .nav_right_int > li:hover a:after {
      content: "\e63c"; }

.int_li {
  border: 1px solid #F9F9F9;
  border-bottom: none; }
  .int_li:hover {
    border-color: #E6E6E6;
    background: #fff; }
    .int_li:hover > a {
      color: red; }
    .int_li:hover > ol {
      display: block; }
  .int_li > ol {
    width: 100%;
    border: 1px solid #E6E6E6;
    border-top: none;
    padding-bottom: 5px;
    position: absolute;
    background-color: #fff;
    left: -1px;
    top: 26px;
    z-index: 5;
    display: none; }
    .int_li > ol > li {
      padding-left: 10px;
      height: 24px;
      line-height: 24px; }
    .int_li > ol > li:hover {
      background-color: #F2F2F2; }

/* 导航栏部分结束 */
/*顶部搜索部分开始 */
.top_search {
  height: 100px; }
  .top_search .top_left {
    float: left; }
    .top_search .top_left > a {
      display: block;
      width: 342px;
      height: 77px;
      line-height: 77px; }
      .top_search .top_left > a > img {
        width: 100%;
        height: 100%;
        line-height: 100%; }

.top_right {
  box-sizing: border-box;
  padding-top: 25px;
  float: right;
  width: 858px;
  height: 100px;
  line-height: 100px; }
  .top_right .right_search {
    float: left;
    width: 560px; }
    .top_right .right_search .search {
      box-sizing: border-box;
      width: 100%;
      height: 40px;
      line-height: 40px;
      border: 2px solid #FF2832; }

.search {
  position: relative; }
  .search > input {
    float: left;
    width: 396px;
    height: 34px;
    line-height: 34px;
    border: 0;
    outline: none;
    color: #323232;
    font-size: 12px;
    text-indent: 5px; }
    .search > input::placeholder {
      color: #666666; }
  .search > span, .main_right_middle > .book_presell > ul > li > a > div.search > em, .main_right_bottom > .bottom_b > .bottom_div > ul > li > div.search > em, .main_right_bottom > .bottom_b > .bottom_div > ul > li > div.search > b, .s_one_right > .bottom_b > .bottom_div > ul > li > div.search > em, .s_one_right > .bottom_b > .bottom_div > ul > li > div.search > b {
    float: left;
    width: 92px;
    height: 36px;
    line-height: 36px;
    padding: 0 5px 0 12px;
    font-size: 16px;
    color: #969696;
    background-color: #f6f6f6;
    position: relative; }
    .search > span:after, .main_right_middle > .book_presell > ul > li > a > div.search > em:after, .main_right_bottom > .bottom_b > .bottom_div > ul > li > div.search > em:after, .main_right_bottom > .bottom_b > .bottom_div > ul > li > div.search > b:after, .s_one_right > .bottom_b > .bottom_div > ul > li > div.search > em:after, .s_one_right > .bottom_b > .bottom_div > ul > li > div.search > b:after {
      content: "";
      position: absolute;
      right: 16px;
      top: 16px;
      width: 0px;
      height: 0px;
      line-height: 0px;
      border-style: solid;
      border-color: transparent;
      border-width: 7px 5px 0px 5px;
      border-top-color: #999898; }
    .search > span > .span_div, .main_right_middle > .book_presell > ul > li > a > div.search > em > .span_div, .main_right_bottom > .bottom_b > .bottom_div > ul > li > div.search > em > .span_div, .main_right_bottom > .bottom_b > .bottom_div > ul > li > div.search > b > .span_div, .s_one_right > .bottom_b > .bottom_div > ul > li > div.search > em > .span_div, .s_one_right > .bottom_b > .bottom_div > ul > li > div.search > b > .span_div {
      position: absolute;
      width: 100%;
      height: 200px;
      line-height: 200px;
      border: 1px solid #ccc;
      left: 0;
      display: none;
      background-color: #fff;
      overflow-y: scroll; }
  .search > span:hover > .span_div, .main_right_middle > .book_presell > ul > li > a > div.search > em:hover > .span_div, .main_right_bottom > .bottom_b > .bottom_div > ul > li > div.search > em:hover > .span_div, .main_right_bottom > .bottom_b > .bottom_div > ul > li > div.search > b:hover > .span_div, .s_one_right > .bottom_b > .bottom_div > ul > li > div.search > em:hover > .span_div, .s_one_right > .bottom_b > .bottom_div > ul > li > div.search > b:hover > .span_div {
    z-index: 3;
    display: block; }
  .search > em {
    position: absolute;
    width: 47px;
    height: 38px;
    line-height: 38px;
    right: -1px;
    top: -1px;
    background-color: #FF2832;
    font-family: "iconfont";
    text-align: center;
    color: #fff;
    font-size: 26px;
    font-weight: 600; }
  .search .search_list {
    position: absolute;
    left: -2px;
    top: 39px;
    display: none;
    z-index: 6;
    border: 1px solid #C8C8C8;
    border-top: none;
    background-color: #fff;
    width: 400px;
    height: auto;
    line-height: auto; }
    .search .search_list > ul > li {
      width: 100%;
      height: 30px;
      line-height: 30px;
      text-indent: 7px;
      color: #323232; }
    .search .search_list > ul > li:hover {
      background-color: #f5f5f5;
      color: #FF2832; }

.span_div > ul > li {
  font-size: 14px;
  color: #333;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-indent: 10px; }
.span_div > ul > li:hover {
  background-color: #C8C8C8;
  color: #fff;
  text-decoration: underline; }

.search_bottom {
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #969696; }
  .search_bottom > a {
    color: #969696;
    margin-left: 10px; }
  .search_bottom > a:last-child {
    float: right; }
  .search_bottom > a:hover {
    color: red;
    text-decoration: underline; }

.cart_right {
  float: right;
  width: 242px;
  height: 40px;
  line-height: 40px;
  height: 40px;
  padding-left: 50px; }
  .cart_right > a {
    text-align: center;
    font-size: 16px;
    float: left;
    line-height: 36px;
    box-sizing: border-box; }
  .cart_right > a:first-child {
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    line-height: 36px;
    background-color: #FF2832;
    border: 2px solid #FF2832;
    color: #fff; }
    .cart_right > a:first-child:before {
      content: "\e612";
      font-family: "iconfont";
      color: #fff;
      font-size: 18px;
      margin-right: 5px; }
    .cart_right > a:first-child > span {
      margin-left: 2px; }
  .cart_right > a:last-child {
    padding: 0 10px;
    color: #646464;
    margin-left: -2px;
    width: auto;
    height: 40px;
    line-height: 40px;
    line-height: 36px;
    background-color: #F6F6F6;
    border: 2px solid #DCDCDC; }
  .cart_right > a:first-child:hover {
    background-color: #F6F6F6;
    color: #FF2832;
    border: 2px solid #DCDCDC; }
    .cart_right > a:first-child:hover:before {
      color: #FF2832; }
  .cart_right > a:last-child:hover {
    color: red; }

/*顶部搜索部分结束 */
/*商品nav部分开始 */
.shop_top {
  height: 43px;
  border-bottom: 3px solid #FF2832;
  padding-bottom: 1px; }

.shop_left {
  position: absolute;
  float: left;
  z-index: 30;
  width: 190px;
  height: 46px;
  line-height: 46px; }
  .shop_left > a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 43px;
    line-height: 43px;
    color: #fff;
    line-height: 43px;
    font-weight: 600;
    padding: 0 20px;
    font-size: 16px;
    background-color: #FF2832; }
    .shop_left > a:after {
      content: "\e63d";
      font-family: "iconfont";
      margin-left: 30px; }
  .shop_left .shop_hidden {
    position: absolute;
    left: 0;
    top: 47px;
    width: 100%;
    height: auto;
    line-height: auto;
    z-index: 5; }
    .shop_left .shop_hidden > .hidden_ul {
      position: absolute;
      left: 0;
      top: -2px;
      padding: 5px 0;
      display: none;
      overflow: hidden;
      width: 100%;
      height: auto;
      line-height: auto; }
      .shop_left .shop_hidden > .hidden_ul > li {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: 34px;
        line-height: 34px;
        font-size: 14px;
        text-indent: 18px;
        line-height: 30px;
        background-color: #FAFAFA;
        border: 2px solid #FAFAFA;
        border-right: none; }
      .shop_left .shop_hidden > .hidden_ul > li:hover {
        color: #FF2832;
        font-size: 16px;
        z-index: 6;
        border-color: #FF2832; }
        .shop_left .shop_hidden > .hidden_ul > li:hover > a {
          color: #FF2832; }
        .shop_left .shop_hidden > .hidden_ul > li:hover > a:hover {
          text-decoration: underline; }
    .shop_left .shop_hidden .hidden_div {
      display: none;
      box-sizing: border-box;
      position: absolute;
      left: 188px;
      top: 0;
      width: 979px;
      background-color: #fff;
      border: 2px solid #FF2832;
      border-top: none; }

.hidden_div .hidden_box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  line-height: auto;
  display: none;
  padding: 2px 10px 15px 15px; }
  .hidden_div .hidden_box .hidde_content_one {
    width: 100%;
    height: 34px;
    line-height: 34px;
    margin-bottom: 2px; }
    .hidden_div .hidden_box .hidde_content_one > a {
      float: left;
      width: auto;
      height: 20px;
      line-height: 20px;
      margin: 7px 10px 7px 0;
      text-align: center;
      background-color: #A2A2A2;
      color: #fff;
      padding-left: 7px;
      box-sizing: border-box; }
      .hidden_div .hidden_box .hidde_content_one > a:after {
        content: ">";
        width: 20px;
        height: 20px;
        line-height: 20px;
        color: #E3E3E3;
        float: right;
        font-size: 16px;
        margin-left: 7px;
        background-color: #C8C8C8; }
      .hidden_div .hidden_box .hidde_content_one > a:hover {
        background-color: #FF2832; }
        .hidden_div .hidden_box .hidde_content_one > a:hover:after {
          background-color: #FFBCBF;
          color: #fff; }
  .hidden_div .hidden_box .hidden_content_two, .hidden_div .hidden_box .hidden_content_three {
    height: auto; }
    .hidden_div .hidden_box .hidden_content_two > a, .hidden_div .hidden_box .hidden_content_three > a {
      float: left;
      width: 80px;
      height: 33px;
      line-height: 33px;
      color: #FF2832;
      font-weight: 600; }
.hidden_div .hidden_box:first-child {
  display: block; }

.active {
  color: #FF2832; }

.book_rank, .hidden_content_three .book_intro {
  box-sizing: border-box;
  float: left;
  width: 860px;
  height: auto;
  line-height: 30px;
  padding: 0 5px;
  border-bottom: 1px dashed #D5D5D5; }
  .book_rank > ol, .hidden_content_three .book_intro > ol {
    width: auto; }
    .book_rank > ol > li, .hidden_content_three .book_intro > ol > li {
      float: left;
      margin-right: 18px; }
      .book_rank > ol > li > a, .hidden_content_three .book_intro > ol > li > a {
        letter-spacing: 1px;
        font-family: "iconfont"; }
      .book_rank > ol > li > a:hover, .hidden_content_three .book_intro > ol > li > a:hover {
        color: #FF2832;
        text-decoration: underline; }

.hidden_content_three {
  float: left;
  height: auto; }
  .hidden_content_three .book_intro {
    padding: 0px 5px;
    line-height: 33px; }
    .hidden_content_three .book_intro > ol > li {
      margin-right: 6px; }
    .hidden_content_three .book_intro > ol > li::after {
      content: "";
      width: 1px;
      height: 12px;
      line-height: 12px;
      float: right;
      margin: 11.5px 0 0 6px;
      background-color: transparent;
      border-left: 1px solid #ccc; }
    .hidden_content_three .book_intro > ol > li:last-child:after {
      border-left: none; }
    .hidden_content_three .book_intro:hover {
      background-color: #FAFAFA; }

.shop_right {
  position: relative;
  left: 210px;
  width: 900px;
  height: 43px;
  line-height: 43px; }
  .shop_right > ul > li {
    float: left;
    margin: 0 13px; }
    .shop_right > ul > li > a {
      color: #323232;
      font-weight: 600;
      font-size: 15px; }
    .shop_right > ul > li > a:hover {
      color: #FF2832; }

/*商品nav部分结束 */
.active {
  color: #FF2832; }

.book_sub {
  width: 100%;
  height: 31px;
  line-height: 31px;
  background-color: #f5f5f5; }
  .book_sub .sub_content {
    height: 31px; }
    .book_sub .sub_content > ul > li {
      float: left;
      margin-right: 19px; }
      .book_sub .sub_content > ul > li > a:hover {
        color: #FF2832;
        text-decoration: underline; }
    .book_sub .sub_content > ul > li:after {
      content: "";
      float: right;
      width: 1;
      height: 10px;
      line-height: 10px;
      margin: 11px 0 0 9.5px;
      background-color: transparent;
      border-left: 1px solid #ccc; }

.advertising_pic {
  margin: 15px auto 10px; }
  .advertising_pic > a {
    display: block; }
    .advertising_pic > a > img {
      display: block; }

/*主要内容区开始*/
.main_left {
  float: left;
  z-index: 20;
  box-sizing: border-box;
  width: 190px;
  height: 916px;
  line-height: auto;
  position: relative; }
  .main_left .left_top {
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    background-color: #487A6F;
    border-radius: 5px 5px 0 0;
    font-size: 18px; }
  .main_left .book_list {
    box-sizing: border-box;
    border-top-style: dotted;
    position: relative; }

.book_list > div {
  box-sizing: border-box;
  position: relative; }
  .book_list > div > dl {
    box-sizing: border-box;
    border-left: 2px solid #487a6f;
    border-right: 2px solid #487a6f;
    width: 190px;
    margin: auto;
    padding: 4px 10px;
    position: relative; }
    .book_list > div > dl > dt {
      width: 100%;
      height: 24px;
      line-height: 24px;
      color: #487a6f;
      font-weight: 600;
      font-size: 14px; }
      .book_list > div > dl > dt > a {
        color: #487a6f;
        font-weight: 600;
        border-bottom: 1px solid #fff; }
      .book_list > div > dl > dt::after {
        content: "\e643";
        font-family: "iconfont";
        float: right;
        color: #a7c7c1; }
      .book_list > div > dl > dt > a:hover {
        color: #ed7e1e; }
    .book_list > div > dl > dd {
      display: inline-block;
      width: auto;
      height: 22px;
      line-height: 22px;
      margin-right: 5px; }
      .book_list > div > dl > dd > a:hover {
        color: #ed7e1e;
        text-decoration: underline; }
    .book_list > div > dl > dd::after {
      content: "";
      width: 1px;
      height: 10px;
      line-height: 10px;
      float: right;
      margin: 6px 0 0 5px;
      background-color: transparent;
      border-left: 1px solid #B5B5B5; }
    .book_list > div > dl > dd:last-child:after {
      border-left: 0; }
  .book_list > div > .list_hidden_div {
    width: 590px;
    display: none;
    padding: 8px 10px;
    border: 1px solid #487a6f;
    border-left-width: 2px;
    position: absolute;
    left: 188px;
    background-color: #fff;
    top: 0; }
  .book_list > div > .list_hidden_div.second {
    top: -32px; }
  .book_list > div > .list_hidden_div.third {
    top: -64px; }
  .book_list > div > .list_hidden_div.four {
    top: -140px; }
  .book_list > div > .list_hidden_div.five {
    top: -172px; }
  .book_list > div > .list_hidden_div.six {
    top: -102px; }
  .book_list > div > .list_hidden_div.senven {
    top: -150px; }
  .book_list > div > .list_hidden_div.eight {
    top: -358px; }
  .book_list > div > .list_hidden_div.nine {
    top: -208px; }
  .book_list > div > .list_hidden_div.ten {
    top: -226px; }
  .book_list > div > .list_hidden_div.eleven {
    top: -426px; }
  .book_list > div > .list_hidden_div.twlve {
    top: -461px; }
  .book_list > div > .list_hidden_div.thirten {
    top: -161px; }
  .book_list > div > .list_hidden_div.fourthen {
    top: -46px; }
  .book_list > div > .list_hidden_div.fifthen {
    top: -246px; }
  .book_list > div > .list_hidden_div.toTop {
    top: 0; }
  .book_list > div > dl::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    width: 174px;
    height: 1px;
    background-color: transparent;
    border-bottom: 1px dashed #487a6f; }
.book_list > div:last-child {
  border-bottom: 1px solid #487a6f;
  border-left: 2px solid #487a6f;
  border-right: 2px solid #487a6f; }
  .book_list > div:last-child:after {
    border-bottom: 0; }
  .book_list > div:last-child > dl {
    border: 0; }
.book_list > div:hover .list_hidden_div {
  display: block; }

.list_hidden_div .list_hidden_content {
  padding: 5px 0;
  border-bottom: 1px dashed #D4D4D4; }
  .list_hidden_div .list_hidden_content > span, .list_hidden_div .main_right_middle > .book_presell > ul > li > a > div.list_hidden_content > em, .list_hidden_div .main_right_bottom > .bottom_b > .bottom_div > ul > li > div.list_hidden_content > em, .list_hidden_div .main_right_bottom > .bottom_b > .bottom_div > ul > li > div.list_hidden_content > b, .list_hidden_div .s_one_right > .bottom_b > .bottom_div > ul > li > div.list_hidden_content > em, .list_hidden_div .s_one_right > .bottom_b > .bottom_div > ul > li > div.list_hidden_content > b {
    float: left;
    width: 80px;
    height: 25px;
    line-height: 25px;
    text-align: right;
    color: #487a6f;
    font-weight: 600;
    margin-right: 10px; }
  .list_hidden_div .list_hidden_content .content_right {
    box-sizing: border-box;
    padding: 0 20px 0 10px;
    width: 500px;
    float: right;
    line-height: 25px; }
    .list_hidden_div .list_hidden_content .content_right > a {
      display: inline-block;
      margin-right: 10px; }
    .list_hidden_div .list_hidden_content .content_right > a::after {
      content: "";
      width: 1px;
      height: 12px;
      line-height: 12px;
      float: right;
      background-color: transparent;
      margin: 7px 0 0 10px;
      border-left: 1px solid #B5B5B5; }
    .list_hidden_div .list_hidden_content .content_right > a:hover {
      color: #ed7e1e;
      text-decoration: underline; }
  .list_hidden_div .list_hidden_content > a {
    display: block; }
    .list_hidden_div .list_hidden_content > a > img {
      display: block;
      margin: auto; }
.list_hidden_div .list_hidden_content:last-child {
  border-bottom: 0; }

/*内容区左部结束*/
/*内容区中间开始*/
.main_middle {
  width: 750px;
  height: 916px;
  line-height: 916px;
  float: left;
  position: relative;
  margin: 0 10px; }
  .main_middle > .main_middle_top {
    width: 750px;
    height: 315px;
    line-height: 315px;
    position: relative; }
    .main_middle > .main_middle_top > ul {
      position: relative; }
      .main_middle > .main_middle_top > ul > li {
        position: absolute;
        opacity: 0; }
      .main_middle > .main_middle_top > ul > li:first-child {
        opacity: 1; }
    .main_middle > .main_middle_top > ul > li > a {
      display: block;
      width: 100%;
      height: 100%;
      line-height: 100%; }
    .main_middle > .main_middle_top > ul > li > a > img {
      display: block;
      width: 100%;
      height: 100%;
      line-height: 100%; }
    .main_middle > .main_middle_top > ol {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 5px; }
      .main_middle > .main_middle_top > ol > li {
        float: left;
        width: 16px;
        height: 16px;
        line-height: 16px;
        border-radius: 50%;
        background-color: #fff;
        margin: 0 8px;
        background-color: #D2D2D2; }
      .main_middle > .main_middle_top > ol > li.active {
        background-color: #558C83; }
    .main_middle > .main_middle_top > ol > li {
      text-align: center;
      width: 20px;
      height: 20px;
      line-height: 20px; }
  .main_middle > .main_middle_middle {
    margin: 10px 0;
    width: 750px;
    height: 43px;
    line-height: 43px; }
    .main_middle > .main_middle_middle > img {
      display: block; }
  .main_middle > .main_middle_bottom {
    width: 750px;
    height: 545px;
    line-height: 545px;
    background-color: #fff;
    position: relative;
    overflow: hidden; }
    .main_middle > .main_middle_bottom > span, .main_right_middle > .book_presell > ul > li > a.main_middle > div.main_middle_bottom > em, .main_right_bottom > .bottom_b > .bottom_div > ul > li.main_middle > div.main_middle_bottom > em, .main_right_bottom > .bottom_b > .bottom_div > ul > li.main_middle > div.main_middle_bottom > b, .s_one_right > .bottom_b > .bottom_div > ul > li.main_middle > div.main_middle_bottom > em, .s_one_right > .bottom_b > .bottom_div > ul > li.main_middle > div.main_middle_bottom > b {
      position: absolute;
      font-family: "iconfont";
      font-size: 30px;
      text-indent: -2px;
      width: 25px;
      height: 50px;
      line-height: 50px;
      background-color: #C8C8C8;
      color: #fff;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10; }
    .main_middle > .main_middle_bottom > span.icon-youjiantou, .main_right_middle > .book_presell > ul > li > a.main_middle > div.main_middle_bottom > em.icon-youjiantou, .main_right_bottom > .bottom_b > .bottom_div > ul > li.main_middle > div.main_middle_bottom > em.icon-youjiantou, .main_right_bottom > .bottom_b > .bottom_div > ul > li.main_middle > div.main_middle_bottom > b.icon-youjiantou, .s_one_right > .bottom_b > .bottom_div > ul > li.main_middle > div.main_middle_bottom > em.icon-youjiantou, .s_one_right > .bottom_b > .bottom_div > ul > li.main_middle > div.main_middle_bottom > b.icon-youjiantou {
      right: 0; }
    .main_middle > .main_middle_bottom > span:hover, .main_right_middle > .book_presell > ul > li > a.main_middle > div.main_middle_bottom > em:hover, .main_right_bottom > .bottom_b > .bottom_div > ul > li.main_middle > div.main_middle_bottom > em:hover, .main_right_bottom > .bottom_b > .bottom_div > ul > li.main_middle > div.main_middle_bottom > b:hover, .s_one_right > .bottom_b > .bottom_div > ul > li.main_middle > div.main_middle_bottom > em:hover, .s_one_right > .bottom_b > .bottom_div > ul > li.main_middle > div.main_middle_bottom > b:hover {
      background-color: #487A6F; }
    .main_middle > .main_middle_bottom > .main_middle_content {
      width: 500%;
      height: 545px;
      line-height: 545px;
      position: absolute;
      left: 0;
      top: 0; }
      .main_middle > .main_middle_bottom > .main_middle_content > ul {
        width: 750px;
        float: left; }
        .main_middle > .main_middle_bottom > .main_middle_content > ul > li {
          width: 150px;
          height: 240px;
          line-height: 240px;
          float: left;
          background-color: #fff;
          margin-right: 50px; }
          .main_middle > .main_middle_bottom > .main_middle_content > ul > li > a {
            display: block; }
          .main_middle > .main_middle_bottom > .main_middle_content > ul > li > a > img {
            display: block;
            width: 150px;
            height: 150px;
            line-height: 150px; }
          .main_middle > .main_middle_bottom > .main_middle_content > ul > li > p, .s_one_left .main_middle > .main_middle_bottom > .left_bottom.main_middle_content > ul > li > h3, .s_one_left .main_middle > .main_middle_bottom > .left_bottom.main_middle_content > ul > li > h4, .s_one_left .main_middle > .main_middle_bottom > .left_bottom.main_middle_content > ul > li > h5 {
            width: 100%;
            height: 25px;
            line-height: 25px;
            text-indent: 15px; }
          .main_middle > .main_middle_bottom > .main_middle_content > ul > li > p > a, .s_one_left .main_middle > .main_middle_bottom > .left_bottom.main_middle_content > ul > li > h3 > a, .s_one_left .main_middle > .main_middle_bottom > .left_bottom.main_middle_content > ul > li > h4 > a, .s_one_left .main_middle > .main_middle_bottom > .left_bottom.main_middle_content > ul > li > h5 > a {
            color: black;
            display: block;
            width: 100%;
            height: 25px;
            line-height: 25px;
            padding-right: 8px;
            overflow: hidden;
            box-sizing: border-box; }
          .main_middle > .main_middle_bottom > .main_middle_content > ul > li > p > a:hover, .s_one_left .main_middle > .main_middle_bottom > .left_bottom.main_middle_content > ul > li > h3 > a:hover, .s_one_left .main_middle > .main_middle_bottom > .left_bottom.main_middle_content > ul > li > h4 > a:hover, .s_one_left .main_middle > .main_middle_bottom > .left_bottom.main_middle_content > ul > li > h5 > a:hover {
            color: #EC7814;
            text-decoration: underline; }
          .main_middle > .main_middle_bottom > .main_middle_content > ul > li > h3, .main_middle > .main_middle_bottom > .main_middle_content > ul > li > h4, .main_middle > .main_middle_bottom > .main_middle_content > ul > li > h5 {
            width: 100%;
            height: 20px;
            line-height: 20px;
            box-sizing: border-box;
            padding-right: 8px;
            color: #C9C9C9;
            font-size: 12px;
            font-weight: 100;
            text-indent: 15px;
            overflow: hidden; }
          .main_middle > .main_middle_bottom > .main_middle_content > ul > li > h4 > span {
            color: #CC3300;
            font-weight: 600;
            margin-right: 10px; }
          .main_middle > .main_middle_bottom > .main_middle_content > ul > li > h4 > em {
            text-decoration: line-through; }
        .main_middle > .main_middle_bottom > .main_middle_content > ul > li:nth-child(4n) {
          margin-right: 0px; }
        .main_middle > .main_middle_bottom > .main_middle_content > ul > li:nth-child(n+5) {
          margin-top: 30px; }
    .main_middle > .main_middle_bottom > ol {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 5px; }
      .main_middle > .main_middle_bottom > ol > li {
        float: left;
        width: 16px;
        height: 16px;
        line-height: 16px;
        border-radius: 50%;
        background-color: #fff;
        margin: 0 8px;
        background-color: #D2D2D2; }
      .main_middle > .main_middle_bottom > ol > li.active {
        background-color: #558C83; }

.main_right {
  width: 240px;
  float: left;
  position: relative; }
  .main_right > .main_right_top, .main_right > .main_right_middle {
    box-sizing: border-box;
    height: 110px;
    border: 1px solid #EAEAEA;
    padding: 10px; }
    .main_right > .main_right_top > h3, .main_right > .main_right_middle > h3, .main_middle > .main_middle_bottom > .main_middle_content > ul.main_right > li.main_right_top > h4, .main_middle > .main_middle_bottom > .main_middle_content > ul.main_right > li.main_right_middle > h4, .main_middle > .main_middle_bottom > .main_middle_content > ul.main_right > li.main_right_top > h5, .main_middle > .main_middle_bottom > .main_middle_content > ul.main_right > li.main_right_middle > h5 {
      font-size: 16px; }
    .main_right > .main_right_top > ul > li, .main_right > .main_right_middle > ul > li {
      height: 24px;
      line-height: 24px; }
    .main_right > .main_right_top > ul > li:before, .main_right > .main_right_middle > ul > li:before {
      content: "";
      display: inline-block;
      width: 2px;
      height: 2px;
      line-height: 2px;
      background-color: gray;
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 2px; }
    .main_right > .main_right_top > ul > li:hover > a, .main_right > .main_right_middle > ul > li:hover > a {
      color: #EF913F;
      text-decoration: underline; }

.main_right_middle {
  height: 195px !important;
  margin-top: 10px; }
  .main_right_middle > h3, .main_middle > .main_middle_bottom > .main_middle_content > ul > li.main_right_middle > h4, .main_middle > .main_middle_bottom > .main_middle_content > ul > li.main_right_middle > h5 {
    font-size: 16px; }
    .main_right_middle > h3 > a, .main_middle > .main_middle_bottom > .main_middle_content > ul > li.main_right_middle > h4 > a, .main_middle > .main_middle_bottom > .main_middle_content > ul > li.main_right_middle > h5 > a {
      float: right;
      color: #5097BC;
      font-size: 12px;
      line-height: 22px; }
    .main_right_middle > h3 > a:hover, .main_middle > .main_middle_bottom > .main_middle_content > ul > li.main_right_middle > h4 > a:hover, .main_middle > .main_middle_bottom > .main_middle_content > ul > li.main_right_middle > h5 > a:hover {
      text-decoration: underline; }
  .main_right_middle > .book_presell {
    height: 150px;
    margin-top: 10px;
    position: relative;
    overflow: hidden; }
    .main_right_middle > .book_presell > span, .main_right_middle > .book_presell > ul > li > a.main_right_middle > div.book_presell > em, .main_right_bottom > .bottom_b > .bottom_div > ul > li.main_right_middle > div.book_presell > em, .main_right_bottom > .bottom_b > .bottom_div > ul > li.main_right_middle > div.book_presell > b, .s_one_right > .bottom_b > .bottom_div > ul > li.main_right_middle > div.book_presell > em, .s_one_right > .bottom_b > .bottom_div > ul > li.main_right_middle > div.book_presell > b {
      position: absolute;
      font-family: "iconfont";
      font-size: 30px;
      text-indent: -2px;
      width: 25px;
      height: 50px;
      line-height: 50px;
      background-color: #C8C8C8;
      color: #fff;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10; }
    .main_right_middle > .book_presell > span.icon-youjiantou, .main_right_middle > .book_presell > ul > li > a.main_right_middle > div.book_presell > em.icon-youjiantou, .main_right_bottom > .bottom_b > .bottom_div > ul > li.main_right_middle > div.book_presell > em.icon-youjiantou, .main_right_bottom > .bottom_b > .bottom_div > ul > li.main_right_middle > div.book_presell > b.icon-youjiantou, .s_one_right > .bottom_b > .bottom_div > ul > li.main_right_middle > div.book_presell > em.icon-youjiantou, .s_one_right > .bottom_b > .bottom_div > ul > li.main_right_middle > div.book_presell > b.icon-youjiantou {
      right: 0; }
    .main_right_middle > .book_presell > span:hover, .main_right_middle > .book_presell > ul > li > a.main_right_middle > div.book_presell > em:hover, .main_right_bottom > .bottom_b > .bottom_div > ul > li.main_right_middle > div.book_presell > em:hover, .main_right_bottom > .bottom_b > .bottom_div > ul > li.main_right_middle > div.book_presell > b:hover, .s_one_right > .bottom_b > .bottom_div > ul > li.main_right_middle > div.book_presell > em:hover, .s_one_right > .bottom_b > .bottom_div > ul > li.main_right_middle > div.book_presell > b:hover {
      background-color: #487A6F; }
    .main_right_middle > .book_presell > ol {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 5px; }
      .main_right_middle > .book_presell > ol > li {
        float: left;
        width: 16px;
        height: 16px;
        line-height: 16px;
        border-radius: 50%;
        background-color: #fff;
        margin: 0 8px;
        background-color: #D2D2D2; }
      .main_right_middle > .book_presell > ol > li.active {
        background-color: #558C83; }
    .main_right_middle > .book_presell > ol > li {
      width: 12px;
      height: 12px;
      line-height: 12px;
      margin: 0 3px; }
    .main_right_middle > .book_presell > ul {
      width: 700%;
      position: absolute; }
      .main_right_middle > .book_presell > ul > li {
        float: left;
        margin: 0 10px; }
      .main_right_middle > .book_presell > ul > li > a {
        display: block; }
      .main_right_middle > .book_presell > ul > li > a > img {
        float: left;
        width: 120px;
        height: 120px;
        line-height: 120px; }
      .main_right_middle > .book_presell > ul > li > a > div {
        float: left;
        width: 95px;
        box-sizing: border-box;
        padding-top: 20px; }
        .main_right_middle > .book_presell > ul > li > a > div > p {
          height: 44px;
          line-height: 22px;
          overflow: hidden; }
        .main_right_middle > .book_presell > ul > li > a > div > span, .main_right_middle > .book_presell > ul > li > a > div > em {
          display: block;
          font-weight: 700;
          color: #C30000;
          line-height: 25px;
          font-size: 14px; }
        .main_right_middle > .book_presell > ul > li > a > div > em {
          color: gray;
          text-decoration: line-through; }

.main_right_bottom {
  margin-top: 8px; }
  .main_right_bottom > .bottom_t {
    height: 40px; }
    .main_right_bottom > .bottom_t > span, .main_right_middle > .book_presell > ul > li > a.main_right_bottom > div.bottom_t > em, .main_right_bottom > .bottom_b > .bottom_div > ul > li.main_right_bottom > div.bottom_t > em, .main_right_bottom > .bottom_b > .bottom_div > ul > li.main_right_bottom > div.bottom_t > b, .s_one_right > .bottom_b > .bottom_div > ul > li.main_right_bottom > div.bottom_t > em, .s_one_right > .bottom_b > .bottom_div > ul > li.main_right_bottom > div.bottom_t > b {
      margin-left: 10px;
      float: left;
      width: 34px;
      height: 40px;
      line-height: 40px;
      background: url(../img/sprite.png) 0 0 no-repeat; }
    .main_right_bottom > .bottom_t > a {
      float: left;
      width: 150px;
      height: 40px;
      line-height: 40px;
      color: #d72832;
      font-size: 16px;
      font-weight: 600; }
  .main_right_bottom > .bottom_b {
    height: 559px;
    position: relative; }
    .main_right_bottom > .bottom_b > a {
      position: absolute;
      display: block;
      bottom: 0;
      width: 100%;
      height: 40px;
      line-height: 40px;
      color: #68A5C5;
      text-align: right;
      padding-right: 10px;
      box-sizing: border-box; }
    .main_right_bottom > .bottom_b > a:hover {
      text-decoration: underline; }
    .main_right_bottom > .bottom_b > ul {
      box-sizing: border-box;
      width: 100%;
      height: 27px;
      line-height: 27px;
      border: 1px solid #E6E6E6;
      text-align: center; }
      .main_right_bottom > .bottom_b > ul > li {
        box-sizing: border-box;
        float: left;
        width: 20%;
        height: 25px;
        line-height: 25px;
        border-left: 1px solid #E6E6E6;
        position: relative; }
      .main_right_bottom > .bottom_b > ul > li:first-child {
        border-left: 0; }
      .main_right_bottom > .bottom_b > ul > li.active {
        color: #487A6F;
        font-weight: 700; }
        .main_right_bottom > .bottom_b > ul > li.active:before {
          content: "";
          width: 103%;
          height: 2px;
          line-height: 2px;
          background-color: #487A6F;
          position: absolute;
          left: -1px;
          top: -1px; }
        .main_right_bottom > .bottom_b > ul > li.active:after {
          content: "";
          width: 100%;
          height: 1px;
          line-height: 1px;
          background-color: #fff;
          position: absolute;
          left: 0px;
          bottom: -1px; }
    .main_right_bottom > .bottom_b > .bottom_div {
      width: 100%;
      height: 532px;
      border: 1px solid #E6E6E6;
      border-top: 0;
      position: absolute; }
      .main_right_bottom > .bottom_b > .bottom_div > ul {
        padding: 0 8px; }
        .main_right_bottom > .bottom_b > .bottom_div > ul > li {
          position: relative;
          border-bottom: 1px dotted #ccc; }
        .main_right_bottom > .bottom_b > .bottom_div > ul > li > strong {
          float: left;
          position: relative;
          text-align: center;
          width: 30px;
          height: 38px;
          line-height: 38px;
          font-size: 16px; }
        .main_right_bottom > .bottom_b > .bottom_div > ul > li > strong.active {
          color: #D10000; }
        .main_right_bottom > .bottom_b > .bottom_div > ul > li > h3, .main_middle.main_right_bottom > .main_middle_bottom.bottom_b > .main_middle_content.bottom_div > ul > li > h4, .main_middle.main_right_bottom > .main_middle_bottom.bottom_b > .main_middle_content.bottom_div > ul > li > h5 {
          position: absolute;
          left: 30px;
          display: block;
          font-weight: 100;
          height: 38px;
          line-height: 38px;
          color: black;
          font-size: 12px;
          width: 160px;
          overflow: hidden; }
        .main_right_bottom > .bottom_b > .bottom_div > ul > li > div {
          width: 86%;
          height: 150px;
          line-height: 150px;
          margin-top: 10px;
          position: absolute;
          left: 30px;
          display: none; }
        .main_right_bottom > .bottom_b > .bottom_div > ul > li > div > img {
          float: left;
          width: 120px;
          height: 120px;
          line-height: 120px; }
        .main_right_bottom > .bottom_b > .bottom_div > ul > li > div > p {
          float: left;
          width: 60px;
          height: 44px;
          line-height: 44px;
          line-height: 22px;
          overflow: hidden; }
          .main_right_bottom > .bottom_b > .bottom_div > ul > li > div > p > a:hover {
            color: #EC7814;
            text-decoration: underline; }
        .main_right_bottom > .bottom_b > .bottom_div > ul > li > div > span, .main_right_bottom > .bottom_b > .bottom_div > ul > li > div > em, .main_right_bottom > .bottom_b > .bottom_div > ul > li > div > b {
          float: left;
          color: #C30000;
          height: 24px;
          line-height: 24px; }
        .main_right_bottom > .bottom_b > .bottom_div > ul > li > div > em {
          color: gray;
          text-decoration: line-through; }
        .main_right_bottom > .bottom_b > .bottom_div > ul > li > div > b {
          color: #487A6F;
          width: 60px;
          overflow: hidden; }
        .main_right_bottom > .bottom_b > .bottom_div > ul > li:first-child {
          height: 150px; }
        .main_right_bottom > .bottom_b > .bottom_div > ul > li:first-child > div {
          display: block; }
        .main_right_bottom > .bottom_b > .bottom_div > ul > li:first-child > h3, .main_middle.main_right_bottom > .main_middle_bottom.bottom_b > .main_middle_content.bottom_div > ul > li:first-child > h4, .main_middle.main_right_bottom > .main_middle_bottom.bottom_b > .main_middle_content.bottom_div > ul > li:first-child > h5 {
          display: none; }

/*内容区中间结束*/
/*主要内容区结束*/
#s_one {
  margin-top: 15px; }

.s_one_left {
  width: 950px;
  float: left; }
  .s_one_left > .left_top {
    height: 51px;
    border-bottom: 1px solid #487A6F; }
    .s_one_left > .left_top > h3, .main_middle > .main_middle_bottom > .main_middle_content > ul.s_one_left > li.left_top > h4, .main_middle > .main_middle_bottom > .main_middle_content > ul.s_one_left > li.left_top > h5 {
      width: 108px;
      height: 50px;
      line-height: 50px;
      background: url(../img/title_sprite.png) no-repeat;
      float: left; }
    .s_one_left > .left_top > ul {
      float: left;
      margin-left: 30px; }
      .s_one_left > .left_top > ul > li {
        position: relative;
        float: left;
        top: 21px;
        font-size: 14px;
        box-sizing: border-box;
        height: 30px;
        padding: 0 18px;
        border: 2px solid #fff;
        border-bottom: 0;
        line-height: 30px;
        border-radius: 10px 10px 0 0; }
      .s_one_left > .left_top > ul > li.active {
        border-color: #487A6F;
        color: #487A6F;
        font-weight: 700; }
        .s_one_left > .left_top > ul > li.active:after {
          content: "";
          width: 102%;
          height: 1px;
          line-height: 1px;
          position: absolute;
          left: 0px;
          bottom: -1px;
          border-bottom: 1px solid #fff; }
  .s_one_left .left_bottom {
    height: 540px; }
    .s_one_left .left_bottom > ul {
      margin-top: 10px; }
      .s_one_left .left_bottom > ul > li {
        width: 150px;
        height: 265px;
        float: left;
        margin-right: 50px; }
      .s_one_left .left_bottom > ul > li:nth-child(5n) {
        margin-right: 0px; }
      .s_one_left .left_bottom > ul > li > a {
        width: 150px;
        height: 150px;
        line-height: 150px;
        display: block; }
      .s_one_left .left_bottom > ul > li > a > img {
        width: 150px;
        height: 150px;
        line-height: 150px; }
      .s_one_left .left_bottom > ul > li > p, .s_one_left .left_bottom > ul > li > h3, .s_one_left .main_middle > .main_middle_bottom > .main_middle_content.left_bottom > ul > li > h4, .s_one_left .main_middle > .main_middle_bottom > .main_middle_content.left_bottom > ul > li > h5, .s_one_left .left_bottom > ul > li > h4, .s_one_left .left_bottom > ul > li > h5 {
        line-height: 25px;
        height: 25px;
        text-indent: 10px;
        overflow: hidden; }
      .s_one_left .left_bottom > ul > li > p > a:hover, .s_one_left .left_bottom > ul > li > h3 > a:hover, .s_one_left .left_bottom > ul > li > h4 > a:hover, .s_one_left .left_bottom > ul > li > h5 > a:hover {
        color: #ed7e1e;
        text-decoration: underline; }
      .s_one_left .left_bottom > ul > li > h3 > span, .s_one_left .main_middle > .main_middle_bottom > .main_middle_content.left_bottom > ul > li > h4 > span, .s_one_left .main_middle > .main_middle_bottom > .main_middle_content.left_bottom > ul > li > h5 > span {
        float: left;
        margin: 3px 0 0 10px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        background: url(../img/sprite.png) 0 -88px no-repeat;
        vertical-align: top; }
      .s_one_left .left_bottom > ul > li > h3 > em, .s_one_left .main_middle > .main_middle_bottom > .main_middle_content.left_bottom > ul > li > h4 > em, .s_one_left .main_middle > .main_middle_bottom > .main_middle_content.left_bottom > ul > li > h5 > em {
        float: left;
        line-height: 30px;
        color: #487A6F;
        font-size: 12px;
        text-indent: 5px; }
      .s_one_left .left_bottom > ul > li > h4 {
        font-size: 14px; }
        .s_one_left .left_bottom > ul > li > h4 > span {
          color: #C10000; }
        .s_one_left .left_bottom > ul > li > h4 > em {
          color: gray;
          margin-left: 5px;
          text-decoration: line-through; }
      .s_one_left .left_bottom > ul > li > h5 {
        color: #979797; }

.s_one_right {
  float: left;
  margin-top: 8px;
  width: 240px;
  margin-left: 10px; }
  .s_one_right > .bottom_t {
    height: 40px; }
    .s_one_right > .bottom_t > span, .main_right_middle > .book_presell > ul > li > a.s_one_right > div.bottom_t > em, .main_right_bottom > .bottom_b > .bottom_div > ul > li.s_one_right > div.bottom_t > em, .main_right_bottom > .bottom_b > .bottom_div > ul > li.s_one_right > div.bottom_t > b, .s_one_right > .bottom_b > .bottom_div > ul > li.s_one_right > div.bottom_t > em, .s_one_right > .bottom_b > .bottom_div > ul > li.s_one_right > div.bottom_t > b {
      margin-left: 10px;
      float: left;
      width: 34px;
      height: 40px;
      line-height: 40px;
      background: url(../img/sprite.png) 0 0 no-repeat; }
    .s_one_right > .bottom_t > a {
      float: left;
      width: 150px;
      height: 40px;
      line-height: 40px;
      color: #d72832;
      font-size: 16px;
      font-weight: 600; }
  .s_one_right > .bottom_b {
    height: 559px;
    position: relative; }
    .s_one_right > .bottom_b > a {
      position: absolute;
      display: block;
      bottom: 0;
      width: 100%;
      height: 40px;
      line-height: 40px;
      color: #68A5C5;
      text-align: right;
      padding-right: 10px;
      box-sizing: border-box; }
    .s_one_right > .bottom_b > a:hover {
      text-decoration: underline; }
    .s_one_right > .bottom_b > ul {
      box-sizing: border-box;
      width: 100%;
      height: 27px;
      line-height: 27px;
      border: 1px solid #E6E6E6;
      text-align: center; }
      .s_one_right > .bottom_b > ul > li {
        box-sizing: border-box;
        float: left;
        width: 20%;
        height: 25px;
        line-height: 25px;
        border-left: 1px solid #E6E6E6;
        position: relative; }
      .s_one_right > .bottom_b > ul > li:first-child {
        border-left: 0; }
      .s_one_right > .bottom_b > ul > li.active {
        color: #487A6F;
        font-weight: 700; }
        .s_one_right > .bottom_b > ul > li.active:before {
          content: "";
          width: 103%;
          height: 2px;
          line-height: 2px;
          background-color: #487A6F;
          position: absolute;
          left: -1px;
          top: -1px; }
        .s_one_right > .bottom_b > ul > li.active:after {
          content: "";
          width: 100%;
          height: 1px;
          line-height: 1px;
          background-color: #fff;
          position: absolute;
          left: 0px;
          bottom: -1px; }
    .s_one_right > .bottom_b > .bottom_div {
      width: 100%;
      height: 532px;
      border: 1px solid #E6E6E6;
      border-top: 0;
      position: absolute; }
      .s_one_right > .bottom_b > .bottom_div > ul {
        padding: 0 8px; }
        .s_one_right > .bottom_b > .bottom_div > ul > li {
          position: relative;
          border-bottom: 1px dotted #ccc; }
        .s_one_right > .bottom_b > .bottom_div > ul > li > strong {
          float: left;
          position: relative;
          text-align: center;
          width: 30px;
          height: 38px;
          line-height: 38px;
          font-size: 16px; }
        .s_one_right > .bottom_b > .bottom_div > ul > li > strong.active {
          color: #D10000; }
        .s_one_right > .bottom_b > .bottom_div > ul > li > h3, .main_middle.s_one_right > .main_middle_bottom.bottom_b > .main_middle_content.bottom_div > ul > li > h4, .main_middle.s_one_right > .main_middle_bottom.bottom_b > .main_middle_content.bottom_div > ul > li > h5 {
          position: absolute;
          left: 30px;
          display: block;
          font-weight: 100;
          height: 38px;
          line-height: 38px;
          color: black;
          font-size: 12px;
          width: 160px;
          overflow: hidden; }
        .s_one_right > .bottom_b > .bottom_div > ul > li > div {
          width: 86%;
          height: 150px;
          line-height: 150px;
          margin-top: 10px;
          position: absolute;
          left: 30px;
          display: none; }
        .s_one_right > .bottom_b > .bottom_div > ul > li > div > img {
          float: left;
          width: 120px;
          height: 120px;
          line-height: 120px; }
        .s_one_right > .bottom_b > .bottom_div > ul > li > div > p {
          float: left;
          width: 60px;
          height: 44px;
          line-height: 44px;
          line-height: 22px;
          overflow: hidden; }
          .s_one_right > .bottom_b > .bottom_div > ul > li > div > p > a:hover {
            color: #EC7814;
            text-decoration: underline; }
        .s_one_right > .bottom_b > .bottom_div > ul > li > div > span, .s_one_right > .bottom_b > .bottom_div > ul > li > div > em, .s_one_right > .bottom_b > .bottom_div > ul > li > div > b {
          float: left;
          color: #C30000;
          height: 24px;
          line-height: 24px; }
        .s_one_right > .bottom_b > .bottom_div > ul > li > div > em {
          color: gray;
          text-decoration: line-through; }
        .s_one_right > .bottom_b > .bottom_div > ul > li > div > b {
          color: #487A6F;
          width: 60px;
          overflow: hidden; }
        .s_one_right > .bottom_b > .bottom_div > ul > li:first-child {
          height: 150px; }
        .s_one_right > .bottom_b > .bottom_div > ul > li:first-child > div {
          display: block; }
        .s_one_right > .bottom_b > .bottom_div > ul > li:first-child > h3, .main_middle.s_one_right > .main_middle_bottom.bottom_b > .main_middle_content.bottom_div > ul > li:first-child > h4, .main_middle.s_one_right > .main_middle_bottom.bottom_b > .main_middle_content.bottom_div > ul > li:first-child > h5 {
          display: none; }
  .s_one_right > .bottom_b {
    width: 240px; }
    .s_one_right > .bottom_b > .bottom_div {
      width: 240px;
      box-sizing: border-box; }
    .s_one_right > .bottom_b > a {
      position: absolute;
      bottom: 0; }

#s_three {
  box-sizing: border-box;
  padding: 20px 0;
  height: 200px; }
  #s_three > a {
    float: left;
    margin-right: 20px; }
  #s_three > a:last-child {
    margin-right: 0px; }
  #s_three > a > img {
    display: block; }

footer {
  border-top: 2px solid #FF2832; }
  footer > .foot_pre {
    height: 80px;
    background-color: #FAFAFA;
    text-align: center;
    border-bottom: 1px solid #E6E6E6; }
    footer > .foot_pre > div > a {
      width: 138px;
      height: 52px;
      display: inline-block;
      margin: 9px 30px;
      background: url(../img/footer_bg.png) 0 0 no-repeat; }
    footer > .foot_pre > div > a:nth-child(2) {
      background: url(../img/footer_bg.png) 0 -104px no-repeat; }
    footer > .foot_pre > div > a:nth-child(3) {
      background: url(../img/footer_bg.png) 0 -156px no-repeat; }
  footer > .foot_con {
    height: 171px;
    box-sizing: border-box;
    padding-top: 20px;
    border-bottom: 1px solid #E6E6E6; }
    footer > .foot_con > div {
      box-sizing: border-box;
      padding: 0 90px; }
    footer > .foot_con > div > dl {
      float: left;
      margin: 0 50px;
      text-align: center; }
    footer > .foot_con > div > dl > dt {
      font-size: 14px;
      line-height: 30px; }
    footer > .foot_con > div > dl > dd {
      line-height: 25px; }
      footer > .foot_con > div > dl > dd > a {
        color: #7D7D7D; }
      footer > .foot_con > div > dl > dd > a:hover {
        color: #F44D20;
        text-decoration: underline; }
  footer > .foot_nav {
    margin-top: 15px;
    height: 40px;
    text-align: center; }
    footer > .foot_nav > ul {
      display: inline-block; }
    footer > .foot_nav > ul > li {
      float: left;
      margin-right: 20px; }
    footer > .foot_nav > ul > li:after {
      content: "";
      width: 1px;
      height: 12px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px;
      border-left: 1px solid gray; }
    footer > .foot_nav > ul > li:last-child:after {
      border-left: 0; }
    footer > .foot_nav > ul > li > a:hover {
      color: #F44D20;
      text-decoration: underline; }
    footer > .foot_nav > p {
      margin: 30px 0;
      letter-spacing: 1px; }
      footer > .foot_nav > p > a {
        margin: 0 20px; }
      footer > .foot_nav > p > a > b:hover {
        color: #F44D20;
        text-decoration: underline; }
      footer > .foot_nav > p > a::after {
        content: "";
        width: 1px;
        height: 12px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
        border-left: 1px solid gray;
        margin-left: 10px; }
      footer > .foot_nav > p > a::before {
        content: "";
        width: 1px;
        height: 12px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
        border-left: 1px solid gray;
        margin-right: 10px; }

/*# sourceMappingURL=index1.css.map */
