@charset "UTF-8";
/* 导航栏部分开始 */
nav {
  box-sizing: border-box;
  height: 35px;
  color: #646464;
  line-height: 35px;
  position: relative;
  z-index: 100;
  background-color: #F9F9F9; }
  nav .w {
    position: relative; }

.nav_left {
  height: 27px;
  line-height: 30px;
  margin: 3px 0;
  padding: 0 10px;
  border: 1px solid #F9F9F9;
  position: absolute; }
  > .nav_left:hover em::after {
    content: "\e63c"; }
  .nav_left > span {
    margin: 0 1px; }
  .nav_left > em {
    margin-left: 5px; }
  .nav_left > em::after {
    content: "\e63d";
    font-family: "iconfont";
    margin-left: 2px;
    color: #a7a7a7;
    font-weight: 600; }

.nav_adress {
  width: 300px;
  position: absolute;
  left: 0px;
  top: 31px;
  padding: 5px 0;
  display: none;
  z-index: 5;
  background-color: #fff;
  border: 1px solid gainsboro; }
  .nav_adress > li {
    float: left;
    width: 20%;
    line-height: 30px;
    text-indent: 15px;
    text-align: left; }
    .nav_adress > li > a:hover {
      color: red; }

.nav_right {
  position: absolute;
  padding-top: 1px;
  right: 0;
  top: 0;
  line-height: 35px; }
  .nav_right .nav_right_bemember {
    float: left;
    letter-spacing: 1px;
    margin-right: 10px; }
    .nav_right .nav_right_bemember .nav_login {
      margin-right: 5px;
      color: red; }
  > .nav_right > a:hover {
    color: red; }

.nav_right_int {
  float: left;
  box-sizing: border-box;
  padding: 2px 0 0 0;
  position: relative; }
  .nav_right_int > li {
    letter-spacing: 1px;
    padding: 0 9px 0 10px;
    line-height: 30px;
    position: relative;
    float: left; }
    > .nav_right_int > li:before {
      content: "";
      position: absolute;
      left: -2px;
      top: 9px;
      width: 1px;
      height: 16px;
      border-left: 1px solid #e6e6e6;
      background-color: transparent; }
    .nav_right_int > li > a:after {
      content: "\e63d";
      font-family: "iconfont";
      margin-left: 3px;
      color: #a7a7a7;
      font-weight: 600; }
    > .nav_right_int > li:hover a:after {
      content: "\e63c"; }

.int_li {
  border: 1px solid #F9F9F9;
  border-bottom: none; }
  .int_li:hover {
    border-color: #E6E6E6;
    background: #fff; }
    .int_li:hover > a {
      color: red; }
    .int_li:hover > ol {
      display: block; }
  .int_li > ol {
    width: 100%;
    border: 1px solid #E6E6E6;
    border-top: none;
    padding-bottom: 5px;
    position: absolute;
    background-color: #fff;
    left: -1px;
    top: 26px;
    z-index: 5;
    display: none; }
    .int_li > ol > li {
      padding-left: 10px;
      height: 24px;
      line-height: 24px; }
    .int_li > ol > li:hover {
      background-color: #F2F2F2; }

/* 导航栏部分结束 */
/*顶部搜索部分开始 */
.top_search {
  height: 100px; }
  .top_search .top_left {
    float: left; }
    .top_search .top_left > a {
      display: block;
      width: 342px;
      height: 77px;
      line-height: 77px; }
      .top_search .top_left > a > img {
        width: 100%;
        height: 100%;
        line-height: 100%; }

.top_right {
  box-sizing: border-box;
  padding-top: 25px;
  float: right;
  width: 858px;
  height: 100px;
  line-height: 100px; }
  .top_right .right_search {
    float: left;
    width: 560px; }
    .top_right .right_search .search {
      box-sizing: border-box;
      width: 100%;
      height: 40px;
      line-height: 40px;
      border: 2px solid #FF2832; }

.search {
  position: relative; }
  .search > input {
    float: left;
    width: 396px;
    height: 34px;
    line-height: 34px;
    border: 0;
    outline: none;
    color: #323232;
    font-size: 12px;
    text-indent: 5px; }
    .search > input::placeholder {
      color: #666666; }
  .search > span {
    float: left;
    width: 92px;
    height: 36px;
    line-height: 36px;
    padding: 0 5px 0 12px;
    font-size: 16px;
    color: #969696;
    background-color: #f6f6f6;
    position: relative; }
    .search > span:after {
      content: "";
      position: absolute;
      right: 16px;
      top: 16px;
      width: 0px;
      height: 0px;
      line-height: 0px;
      border-style: solid;
      border-color: transparent;
      border-width: 7px 5px 0px 5px;
      border-top-color: #999898; }
    .search > span > .span_div {
      position: absolute;
      width: 100%;
      height: 200px;
      line-height: 200px;
      border: 1px solid #ccc;
      left: 0;
      display: none;
      background-color: #fff;
      overflow-y: scroll; }
  .search > span:hover > .span_div {
    z-index: 3;
    display: block; }
  .search > em {
    position: absolute;
    width: 47px;
    height: 38px;
    line-height: 38px;
    right: -1px;
    top: -1px;
    background-color: #FF2832;
    font-family: "iconfont";
    text-align: center;
    color: #fff;
    font-size: 26px;
    font-weight: 600; }
  .search .search_list {
    position: absolute;
    left: -2px;
    top: 39px;
    display: none;
    z-index: 6;
    border: 1px solid #C8C8C8;
    border-top: none;
    background-color: #fff;
    width: 400px;
    height: auto;
    line-height: auto; }
    .search .search_list > ul > li {
      width: 100%;
      height: 30px;
      line-height: 30px;
      text-indent: 7px;
      color: #323232; }
    .search .search_list > ul > li:hover {
      background-color: #f5f5f5;
      color: #FF2832; }

.span_div > ul > li {
  font-size: 14px;
  color: #333;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-indent: 10px; }
.span_div > ul > li:hover {
  background-color: #C8C8C8;
  color: #fff;
  text-decoration: underline; }

.search_bottom {
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #969696; }
  .search_bottom > a {
    color: #969696;
    margin-left: 10px; }
  .search_bottom > a:last-child {
    float: right; }
  .search_bottom > a:hover {
    color: red;
    text-decoration: underline; }

.cart_right {
  float: right;
  width: 242px;
  height: 40px;
  line-height: 40px;
  height: 40px;
  padding-left: 50px; }
  .cart_right > a {
    text-align: center;
    font-size: 16px;
    float: left;
    line-height: 36px;
    box-sizing: border-box; }
  .cart_right > a:first-child {
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    line-height: 36px;
    background-color: #FF2832;
    border: 2px solid #FF2832;
    color: #fff; }
    .cart_right > a:first-child:before {
      content: "\e612";
      font-family: "iconfont";
      color: #fff;
      font-size: 18px;
      margin-right: 5px; }
    .cart_right > a:first-child > span {
      margin-left: 2px; }
  .cart_right > a:last-child {
    padding: 0 10px;
    color: #646464;
    margin-left: -2px;
    width: auto;
    height: 40px;
    line-height: 40px;
    line-height: 36px;
    background-color: #F6F6F6;
    border: 2px solid #DCDCDC; }
  .cart_right > a:first-child:hover {
    background-color: #F6F6F6;
    color: #FF2832;
    border: 2px solid #DCDCDC; }
    .cart_right > a:first-child:hover:before {
      color: #FF2832; }
  .cart_right > a:last-child:hover {
    color: red; }

/*顶部搜索部分结束 */
/*商品nav部分开始 */
.shop_top {
  height: 43px;
  border-bottom: 3px solid #FF2832;
  padding-bottom: 1px; }

.shop_left {
  position: absolute;
  float: left;
  z-index: 30;
  width: 190px;
  height: 46px;
  line-height: 46px; }
  .shop_left > a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 43px;
    line-height: 43px;
    color: #fff;
    line-height: 43px;
    font-weight: 600;
    padding: 0 20px;
    font-size: 16px;
    background-color: #FF2832; }
    .shop_left > a:after {
      content: "\e63d";
      font-family: "iconfont";
      margin-left: 30px; }
  .shop_left .shop_hidden {
    position: absolute;
    left: 0;
    top: 47px;
    width: 100%;
    height: auto;
    line-height: auto;
    z-index: 5; }
    .shop_left .shop_hidden > .hidden_ul {
      position: absolute;
      left: 0;
      top: -2px;
      padding: 5px 0;
      display: none;
      overflow: hidden;
      width: 100%;
      height: auto;
      line-height: auto; }
      .shop_left .shop_hidden > .hidden_ul > li {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: 34px;
        line-height: 34px;
        font-size: 14px;
        text-indent: 18px;
        line-height: 30px;
        background-color: #FAFAFA;
        border: 2px solid #FAFAFA;
        border-right: none; }
      .shop_left .shop_hidden > .hidden_ul > li:hover {
        color: #FF2832;
        font-size: 16px;
        z-index: 6;
        border-color: #FF2832; }
        .shop_left .shop_hidden > .hidden_ul > li:hover > a {
          color: #FF2832; }
        .shop_left .shop_hidden > .hidden_ul > li:hover > a:hover {
          text-decoration: underline; }
    .shop_left .shop_hidden .hidden_div {
      display: none;
      box-sizing: border-box;
      position: absolute;
      left: 188px;
      top: 0;
      width: 979px;
      background-color: #fff;
      border: 2px solid #FF2832;
      border-top: none; }

.hidden_div .hidden_box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  line-height: auto;
  display: none;
  padding: 2px 10px 15px 15px; }
  .hidden_div .hidden_box .hidde_content_one {
    width: 100%;
    height: 34px;
    line-height: 34px;
    margin-bottom: 2px; }
    .hidden_div .hidden_box .hidde_content_one > a {
      float: left;
      width: auto;
      height: 20px;
      line-height: 20px;
      margin: 7px 10px 7px 0;
      text-align: center;
      background-color: #A2A2A2;
      color: #fff;
      padding-left: 7px;
      box-sizing: border-box; }
      .hidden_div .hidden_box .hidde_content_one > a:after {
        content: ">";
        width: 20px;
        height: 20px;
        line-height: 20px;
        color: #E3E3E3;
        float: right;
        font-size: 16px;
        margin-left: 7px;
        background-color: #C8C8C8; }
      .hidden_div .hidden_box .hidde_content_one > a:hover {
        background-color: #FF2832; }
        .hidden_div .hidden_box .hidde_content_one > a:hover:after {
          background-color: #FFBCBF;
          color: #fff; }
  .hidden_div .hidden_box .hidden_content_two, .hidden_div .hidden_box .hidden_content_three {
    height: auto; }
    .hidden_div .hidden_box .hidden_content_two > a, .hidden_div .hidden_box .hidden_content_three > a {
      float: left;
      width: 80px;
      height: 33px;
      line-height: 33px;
      color: #FF2832;
      font-weight: 600; }
.hidden_div .hidden_box:first-child {
  display: block; }

.active {
  color: #FF2832; }

.book_rank, .hidden_content_three .book_intro {
  box-sizing: border-box;
  float: left;
  width: 860px;
  height: auto;
  line-height: 30px;
  padding: 0 5px;
  border-bottom: 1px dashed #D5D5D5; }
  .book_rank > ol, .hidden_content_three .book_intro > ol {
    width: auto; }
    .book_rank > ol > li, .hidden_content_three .book_intro > ol > li {
      float: left;
      margin-right: 18px; }
      .book_rank > ol > li > a, .hidden_content_three .book_intro > ol > li > a {
        letter-spacing: 1px;
        font-family: "iconfont"; }
      .book_rank > ol > li > a:hover, .hidden_content_three .book_intro > ol > li > a:hover {
        color: #FF2832;
        text-decoration: underline; }

.hidden_content_three {
  float: left;
  height: auto; }
  .hidden_content_three .book_intro {
    padding: 0px 5px;
    line-height: 33px; }
    .hidden_content_three .book_intro > ol > li {
      margin-right: 6px; }
    .hidden_content_three .book_intro > ol > li::after {
      content: "";
      width: 1px;
      height: 12px;
      line-height: 12px;
      float: right;
      margin: 11.5px 0 0 6px;
      background-color: transparent;
      border-left: 1px solid #ccc; }
    .hidden_content_three .book_intro > ol > li:last-child:after {
      border-left: none; }
    .hidden_content_three .book_intro:hover {
      background-color: #FAFAFA; }

.shop_right {
  position: relative;
  left: 210px;
  width: 900px;
  height: 43px;
  line-height: 43px; }
  .shop_right > ul > li {
    float: left;
    margin: 0 13px; }
    .shop_right > ul > li > a {
      color: #323232;
      font-weight: 600;
      font-size: 15px; }
    .shop_right > ul > li > a:hover {
      color: #FF2832; }

/*商品nav部分结束 */
footer {
  border-top: 2px solid #FF2832; }
  footer > .foot_pre {
    height: 80px;
    background-color: #FAFAFA;
    text-align: center;
    border-bottom: 1px solid #E6E6E6; }
    footer > .foot_pre > div > a {
      width: 138px;
      height: 52px;
      display: inline-block;
      margin: 9px 30px;
      background: url(../img/footer_bg.png) 0 0 no-repeat; }
    footer > .foot_pre > div > a:nth-child(2) {
      background: url(../img/footer_bg.png) 0 -104px no-repeat; }
    footer > .foot_pre > div > a:nth-child(3) {
      background: url(../img/footer_bg.png) 0 -156px no-repeat; }
  footer > .foot_con {
    height: 171px;
    box-sizing: border-box;
    padding-top: 20px;
    border-bottom: 1px solid #E6E6E6; }
    footer > .foot_con > div {
      box-sizing: border-box;
      padding: 0 90px; }
    footer > .foot_con > div > dl {
      float: left;
      margin: 0 50px;
      text-align: center; }
    footer > .foot_con > div > dl > dt {
      font-size: 14px;
      line-height: 30px; }
    footer > .foot_con > div > dl > dd {
      line-height: 25px; }
      footer > .foot_con > div > dl > dd > a {
        color: #7D7D7D; }
      footer > .foot_con > div > dl > dd > a:hover {
        color: #F44D20;
        text-decoration: underline; }
  footer > .foot_nav {
    margin-top: 15px;
    height: 40px;
    text-align: center; }
    footer > .foot_nav > ul {
      display: inline-block; }
    footer > .foot_nav > ul > li {
      float: left;
      margin-right: 20px; }
    footer > .foot_nav > ul > li:after {
      content: "";
      width: 1px;
      height: 12px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px;
      border-left: 1px solid gray; }
    footer > .foot_nav > ul > li:last-child:after {
      border-left: 0; }
    footer > .foot_nav > ul > li > a:hover {
      color: #F44D20;
      text-decoration: underline; }
    footer > .foot_nav > p {
      margin: 30px 0;
      letter-spacing: 1px; }
      footer > .foot_nav > p > a {
        margin: 0 20px; }
      footer > .foot_nav > p > a > b:hover {
        color: #F44D20;
        text-decoration: underline; }
      footer > .foot_nav > p > a::after {
        content: "";
        width: 1px;
        height: 12px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
        border-left: 1px solid gray;
        margin-left: 10px; }
      footer > .foot_nav > p > a::before {
        content: "";
        width: 1px;
        height: 12px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
        border-left: 1px solid gray;
        margin-right: 10px; }

.sub {
  height: 30px;
  background-color: #F5F5F5;
  line-height: 30px; }
  .sub > div > a {
    float: left;
    padding: 0 40px;
    font-size: 16px;
    color: #000000; }
  .sub > div > a:hover {
    text-decoration: underline; }
  .sub > div > ul {
    float: left; }
    .sub > div > ul > li {
      float: left;
      margin-right: 14px; }
    .sub > div > ul > li::after {
      content: "";
      width: 1px;
      height: 8px;
      display: inline-block;
      vertical-align: middle;
      border-left: 1px solid #E6E6E6;
      margin-left: 14px; }
    .sub > div > ul > li > a {
      font-size: 13px; }
    .sub > div > ul > li > a:hover {
      color: #FF2832;
      text-decoration: underline; }

.two {
  background: #FDF6C8;
  height: auto;
  margin-bottom: 20px; }
  .two > a {
    width: 1200px;
    height: 500px;
    margin: auto;
    display: block; }
  .two > a > img {
    display: block; }
  .two > .prize {
    text-align: center;
    line-height: 60px;
    height: 60px;
    background-color: #B5C155;
    color: #fff;
    font-size: 30px;
    letter-spacing: 2px; }

.container {
  background-color: #f7f7f7;
  padding: 0 10px;
  height: 683px;
  box-sizing: border-box; }
  .container > ul {
    border-left: 1px solid #DFDEDD;
    border-right: 1px solid #DFDEDD; }
  .container > ul > li {
    position: relative;
    box-sizing: border-box;
    width: 235px;
    height: 316px;
    float: left;
    padding: 10px 17px;
    background-color: #EFEEED;
    border-left: 1px solid #DFDEDD;
    border-bottom: 1px solid #DFDEDD; }
    .container > ul > li > a {
      display: block;
      width: 200px;
      height: 200px; }
      .container > ul > li > a > img {
        display: block; }
    .container > ul > li > p {
      height: 50px;
      line-height: 25px;
      overflow: hidden; }
      .container > ul > li > p > a:hover {
        color: #cc3300;
        text-decoration: underline; }
    .container > ul > li > h3 {
      line-height: 20px;
      color: #cc3300; }
    .container > ul > li > em {
      position: absolute;
      bottom: 0;
      right: 0;
      text-indent: 27px;
      width: 60px;
      height: 24px;
      line-height: 24px;
      background: url(../img/bg_moban05_sprite.png) 0 -24px no-repeat; }
    .container > ul > li > em > a:hover {
      color: #cc3300;
      text-decoration: underline; }
  .container > .page {
    height: 50px;
    text-align: right;
    box-sizing: border-box;
    overflow: hidden; }
    .container > .page > span {
      display: inline-block;
      width: 80px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border: 1px solid #DDD;
      background-color: #F7F7F7; }
    .container > .page > span.s_active {
      background-color: #fff;
      color: #CCC; }
    .container > .page > span:hover {
      box-shadow: 0 1px 1px rgba(0, 1, 1, 0.08); }
    .container > .page > ul {
      display: inline-block;
      position: relative;
      margin: 0 10px;
      top: 11px; }
      .container > .page > ul > li {
        box-sizing: border-box;
        float: left;
        margin: 0px 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #DDD;
        text-align: center;
        line-height: 30px;
        background-color: #F7F7F7; }
        .container > .page > ul > li:hover {
          cursor: pointer; }
      .container > .page > ul > li.active {
        background-color: #fff;
        border: none;
        color: #cc3300;
        border-radius: 50%; }
      .container > .page > ul > li:last-child {
        border: none;
        background-color: #fff;
        color: #CCC;
        border-radius: 50%; }
    .container > .page > em {
      display: inline-block;
      margin: 0 10px; }
      .container > .page > em > b {
        font-weight: 700;
        color: #000;
        margin: 0 4px;
        font-size: 16px; }
    .container > .page > strong {
      display: inline-block;
      margin: 0 10px; }
      .container > .page > strong > input {
        width: 26px;
        height: 26px;
        margin: 0 4px; }
      .container > .page > strong > input::placeholder {
        text-align: center; }
    .container > .page > button {
      width: 60px;
      height: 30px;
      margin: 0 10px; }

/*# sourceMappingURL=list.css.map */
